*{
margin: 0;
padding: 0;
box-sizing: border-box;
/* font-family: 'Montserrat', Arial, sans-serif; */
/* font-family: "Jost", serif; */
}

@font-face {
    font-family: 'John Mayer';
    src: url('../fonts/John Mayer.ttf') format('truetype'),
         url('../fonts/John Mayer.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html{
    overflow-x: hidden;
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}

body{
    background-color: #ffe9c7;
    font-family: 'John Mayer', sans-serif;
}

/* Banner Start */
.banner{
    overflow: hidden;
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .banner-layer{
    position: absolute;
    top: 0;
    left: 9rem;
    width: 100%;
    height: 100%;
}
.banner .banner-layer .layer-box{
    width: 35%;
    height: 200%;
    background-color: #00000096;
    transform: rotate(-25deg);
    margin-top: -10%;
}
.banner .banner-layer img{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 3rem;
}
/* Banner End */


/* Banner Slider Start */
.banner-slider-outer{
    padding: 5rem 0;
}
.banner-slider{
    height: 85vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.banner-slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.banner-slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-slider .list .item .content{
    position: absolute;
    top: calc(16.5% - 100px);
    width: 100%;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.banner-slider .list .item .content .title,
.banner-slider .list .item .content .type{
    font-size: calc(1rem + 1.7vw);
    font-weight: bold;
    text-align: center;
    line-height: 1.3em;
    /* color: #3f1516; */
    color: #fff;
}
.banner-slider .list .item .description{
    font-size: calc(0.95rem + 0.5vw);
    margin-top: 2rem;
    width: 100%;
    font-weight: 500;
    color: #fff;
}

/* Thumbnail Section  */
.banner-slider .thumbnail{
    position: absolute;
    top: calc(83.5% - 80px);
    left: 59.5%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.banner-slider .thumbnail .item{
    width: 160px;
    height: 160px;
    flex-shrink: 0;
    position: relative;
}
.banner-slider .thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}
/* nextPrevArrows Section  */
.banner-slider .nextPrevArrows{
    position: absolute;
    top: calc(64% - 20px);
    right: calc(-3.5% - 150px);
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.banner-slider .nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3f1516;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.banner-slider .nextPrevArrows button:hover{
    background-color: #e2d3c0;
    color: #3f1516;
}
/* Animation Part */
.banner-slider .list .item:nth-child(1){
    z-index: 1;
}
/* animation text in first item */
.banner-slider .list .item:nth-child(1) .content .title,
.banner-slider .list .item:nth-child(1) .content .type,
.banner-slider .list .item:nth-child(1) .content .description,
.banner-slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.banner-slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.banner-slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.banner-slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.banner-slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}
/* Animation for next button click */
.banner-slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.banner-slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.banner-slider.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.banner-slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}
/* Animation for prev button click */
.banner-slider.prev .list .item:nth-child(2){
    z-index: 2;
}
.banner-slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}
.banner-slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.banner-slider.next .nextPrevArrows button,
.banner-slider.prev .nextPrevArrows button{
    pointer-events: none;
}
.banner-slider.prev .list .item:nth-child(2) .content .title,
.banner-slider.prev .list .item:nth-child(2) .content .type,
.banner-slider.prev .list .item:nth-child(2) .content .description,
.banner-slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .banner-slider .list .item .content{
        padding-right: 0;
    }
    .banner-slider .list .item .content .title{
        font-size: 50px;
    }
}

@media screen and (max-width: 576px) {
    .banner-slider .thumbnail{
        bottom: 230px;
        left: 75%;
        top: calc(90% - 80px);
        gap: 20px;
    }
    .banner-slider .thumbnail .item{
        width: 80px;
        height: 90px;
    }
    .banner-slider .thumbnail .item img{
        border-radius: 7px;
    }
    .banner-slider .list .item .content{
        position: absolute;
        top: calc(25% - 100px);
        max-width: 100%;
        left: 53%;
        padding-right: 7%;
    }
    .banner-slider .list .item .content .title,
    .banner-slider .list .item .content .type{
        font-size: calc(1.3rem + 1vw);
        line-height: 1.2em;
    }
    .banner-slider .list .item .description{
        font-size: calc(0.8rem + 0.5vw);
        margin-top: 1rem;
    }
    .banner-slider .nextPrevArrows{
        top: 89%;
        right: 62%;
    }
    .banner-slider .nextPrevArrows button{
        width: 30px;
        height: 30px;
        font-size: 0.75rem;
    }
}
/* Banner Slider End */

/* Our Mission Start */
.our-mission{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 5rem 0;
}
.our-mission .mission-left{
    width: 40%;
}
.our-mission .mission-left img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
}
.our-mission .mission-right{
    width: 55%;
}
.our-mission .mission-right h2{
    margin: 0;
    font-size: calc(1.6rem + 1vw);
}
.our-mission .mission-right p{
    margin-top: 1.5rem;
    font-size: calc(0.53rem + 1vw);
}
/* Our Mission End */

/* Founder Start */
.founder{
    padding: 0 0 5rem 0;
    overflow: hidden;
}
.founder-imgBox{
    position: relative;
}
.founder-imgBox .img-layer{
    width: 100%;
    height: 30rem;
    background-color: #ebc894;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: -1;
}
.founder-imgBox img{
    border-radius: 10px;
    width: 60%;
    margin: 5rem 20% 3rem 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.founder-text h2{
    margin: 0;
    font-size: calc(1.6rem + 1vw);
    margin-bottom: 1.5rem;
}
.founder-text p{
    font-size: calc(0.45rem + 1vw);
}
/* Founder End */

/* Connecting World Start */
.connecting-world{
    display: flex;
    justify-content: space-between;
    padding: 0 0 5rem 0;
}
.connecting-world-left{
    display: flex;
    width: 30%;
}
.connecting-world-left img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 2px 5px 8px;
}
.connecting-world-right {
    width: 65%;
}
.connecting-world-right h2{
    margin: 0;
    font-size: calc(1.6rem + 1vw);
}
.connecting-world-right p{
    font-size: calc(0.53rem + 1vw);
    margin-top: 1.5rem;
}
/* Connecting World End */